@import '../../_colors.scss';

.exp_section {
  margin-bottom: 1rem;

  .school {
    margin-bottom: 0;
  }

  .time {
    text-align: right;

    @media screen and (max-width: 600px) {
      text-align: left;
    }
  }
}
